.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore

.idea
.vscode

.env
.env.*

uploads
models/*
!models/filer/
models/filer/*
!models/filer/src/
!models/filer/src/**
cache
fluency_analysis_bundle

*.log
.DS_Store
Thumbs.db
